<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700|Work+Sans:600&display=swap" rel="stylesheet">
</head>
<body class="home">
	

	<a href="/index">HOME</a><br>
	<a href="/about">ABOUT</a><br>
	<a href="/music">MUSIC</a><br>
	<a href="/contact">CONTACT</a><br>

	<h3 class="emilia">EMILIA</h3>
	<h3 class="emilia">COLE //</h3>

	<h1>TWIST IN MY REALITY</h1>
	
</body>
</html>